.bg-border {
  position: relative;
  border-radius: 25px;
}

.border-animation {
  font: 100 1rem 'Montserrat';
  line-height: 25px;
  text-transform: uppercase;
}

.border-animation::before,
.border-animation::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: linear-gradient(45deg, 
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
  );
  background-size: 300%;
  animation: border 12s linear infinite;
}

.border-animation::after {
  filter: blur(50px);
}

@keyframes border {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 300%;
  }
}

input:invalid {
  animation: shake .3s;
}

@keyframes shake {
  25% {transform: translateX(4px)}
  50% {transform: translateX(-4px)}
  75% {transform: translateX(4px)}
}